body {
    width:375px;
}
#op_notice {
    width: 375px;
    display: block;
    padding:15px 30px 0px 30px;
}
.formContainer{
    width: 375px;
    text-align: center;
    padding-top: 10px;
}

.checkContainer {
    margin:0 auto;
    width: 300px;

}
.checkContainer span {
    display: inline-block;
    width: 100px;
    text-align: left;
    padding-top: 5px;
}
.securities {

}