#bannerContainer{
    width: 375px;
    height: 140px;
    text-align: center;
}
#bannerImg {
    display: inline-block;
    width: 100%;
}
#titleContainer{
    width: 375px;
    height: 60px;
    position: relative;
    background: no-repeat url("../../elements/title_bg.png") center center;
    background-size: 80% auto;
}
#title {
    text-align: center;
    position: absolute;
    top: 13px;
    left: 37.5px;
    width: 300px;
    display: inline-block;
    font-weight: 800;
    font-size: x-large;

}